.wrapper{
	margin-left: 10px;
	margin-right: 10px;
}

#photo{
	width:200px;
}

table{
	/*width: 100%;*/
	border: none;
}

section{
	margin-right: 10px;	
	margin-left: 50px;
}

body{
	margin-right: 10px;
}

tr, td, th, thead, tbody{
	border: none;
	font-weight: normal;
}
