.wrapper{
	margin-left: 10px;
	margin-right: 10px;
}

#photo{
	width:200px;
}

table{
	width: 100%;
	border: none;
}

section{
	margin-right: 10px;	
	width: 100%;
}

body{
	margin-right: 10px;
	width: 100%;
}

tr, td, thead, tbody{
	border: none;
}