.wrapper{
	margin-left: 10px;
	margin-right: 10px;
}

#photo{
	width:200px;
}

table{
	/*width: 100%;*/
	border: none;
}

section{
	margin-right: 10px;	
	margin-left: 50px;
}

body{
	margin-right: 10px;
}

th, thead, tbody{
	border: none;
	font-weight: normal;
	color: black;
}

tr, td{
	color: black;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
	border-color: #f2f2f2;
}
